{% extends "base.html" %}

{% block content %}
    
<div class="Items">
    <form class='Item-form' action="{% url "items:add" %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
    {% for item in items %}
        <div class="Item">
            <h1 class="Item-name">{{ item.name }}</h1>
            <p class="Item-description">{{ item.description }}</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function(){
        $('.Item-form').submit(function (event){
            event.preventDefault()
            let $formData = $(this).serialize()
            $.ajax({
                method: "POST",
                url: $(this).action,
                data: $(this).serialize(),
                success: function(data){
                    console.log(data)

                    const firstChild = document.getElementsByClassName('Item')[0]
                    const items = document.getElementsByClassName('Items')[0]
                    let item = document.createElement('div')
                    let itemTitle = document.createElement('h1')
                    let itemDescription = document.createElement('p')

                    item.classList.add('Item')
                    itemTitle.classList.add('Item-name')
                    itemDescription.classList.add('Item-description')

                    itemDescription.textContent = data.description
                    itemTitle.textContent = data.name

                    item.appendChild(itemTitle)
                    item.appendChild(itemDescription)

                    items.insertBefore(item, firstChild)

                    //let div = $('.Items')
                    //div.append($('<h1>')).html(data.name)
                    // $('.Item-name').text(data.name)
                    // $('.Item-description').html(data.description)
                }
            });
        });

    });
</script>
{% endblock script %}