{% extends "base.html" %}

{% block content %}
    
<div class="Items">
    <form class='Item-form' action="{% url "items:add" %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
    {% for item in items %}
        <div class="Item">
            <h1 class="Item-name">{{ item.name }}</h1>
            <p class="Item-description">{{ item.description }}</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function(){
        $('.Item-form').submit(function (event){
            event.preventDefault()
            let $formData = $(this).serialize()
            $.ajax({
                method: "POST",
                url: $(this).action,
                data: $(this).serialize(),
                success: function(data){
                    console.log(data)
                    let div = $('.Items')

                    div.append(data.name)
                    div.append(data.description)

                    $('.Item-form')[0].reset()
                }
            });
        });

    });
</script>
{% endblock script %}