.Icon {
    position: relative;
    cursor: pointer;
    max-width: 30px;
    align-self: end;
}
.Icon-delete {
    color: var(--navbar-bg-color);
}

.Icon-complete {
    color: var(--navbar-bg-color);
}