.Item {
    background-color: var(--item-bg-color);
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.Item-buttons {
    align-self: end;
}

.Item-name {
    margin: 0;
}

.Item-date {
    align-self: end;
    color: var(--body-bg-color);
    order: -1;
}